html, body{
    margin: 0; height: 100%; width: 100%; overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: rgba(43, 42, 42, 0.133);
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 2rem;
}


.form-pref-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    margin: auto;
    background-color: rgba(197, 211, 211, 0.342);
    border: 9px solid rgb(204, 193, 193);

    font-size: 1.5rem;
}

.pref-table td{
    width: 30vh;
    height: 5vh;
}

.pref-table input{
    width: 30vh;
    height: 3vh;
}


.save-btn{
    margin-top: 1vh;
    border-radius: 5px;
    width: 15vh;
    height: 2.5vh;
    border: 3px solid rgb(136, 135, 135);
    cursor: pointer;
}

.save-btn:hover{
    transition: 1s;
    background-color: aquamarine;
}


@media only screen and (max-width: 600px) {

    h2{
        font-size: 1.5rem;
    }
    .pref-table td{
        width: 10vh;
        height: 3vh;
        font-size: medium;
    }
    
    .pref-table input{
        width: 10vh;
        height: 3vh;
        border-radius: 0px;
    }

    .form-pref-container{
        height: 40%;
        width: 70%;
    }
}