html, body{
    margin: 0; height: 100%; width: 100%; overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-pref-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    width: 50%;
    margin: auto;
    background-color: rgb(196, 240, 240);
    border: 9px solid rgb(204, 193, 193);
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

.pref-table td{
    width: 250px;
    height: 40px;
}

.pref-table input{
    width: 250px;
    height: 30px;
}

.zoom-couner{
    margin: auto;
}

.save-btn{
    margin-top: 1vh;
    border-radius: 5px;
    width: 15vh;
    height: 2.5vh;
    border: 3px solid rgb(136, 135, 135);
    cursor: pointer;
}

.save-btn:hover{
    transition: 1s;
    background-color: aquamarine;
}